<div class="content-full">
  <h1>Issues</h1>

  <table>
    <tr>
      <td width="10%">
        Key
      </td>
      <td width="40%">
        Summary
      </td>
      <td width="20%">
        Started
      </td>
      <td width="20%">
        Completed
      </td>
      <td width="10%">
        Cycle Time
      </td>
    </tr>
    
  </table>

  <% @epics.each do |epic| %>
    <table>
      <%= render epic %>
    
      <% epic.issues.each do |issue| %>
        <%= render issue %>
      <% end %>
    </table>
  <% end %>
</div>
