<div class="content-full">
  <h1>WIP</h1>
  
  <script>
  $(function () {
      $('#container').highcharts({
          chart: {
              type: 'spline'
          },
          title: {
              text: 'Epic Cycle Time'
          },
          subtitle: {
              text: 'Historical Cycle Time and WIP values'
          },
          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: { // don't display the dummy year
                  month: '%e. %b',
                  year: '%b'
              },
              title: {
                  text: 'Date'
              }
          },
          yAxis: [{
            title: {
                text: 'Cycle Time'
            },
            min: 0
          }, {
              title: {
                  text: 'WIP'
              },
              opposite: true,
              min: 0
          }],
          plotOptions: {
              spline: {
                  marker: {
                      enabled: true
                  }
              }
          },
          tooltip: {
              formatter: function () {
                  if (this.series.name == 'Cycle Time') { 
                    return '<b><a href="https://jbrunton.atlassian.net/browse/"' + this.point.key + '>' + this.point.key + '</a></b><br />CT: ' + this.y + ' days';
                  } else {
                    return 'WIP: ' + this.y;                    
                  }
              }
          },


          series: [{
              name: 'Cycle Time',
              yAxis: 0,
              color: '#F66',
              data: [
                  {x: Date.UTC(1970,  9, 18), y: 1, key: 'DEMO-101'},
                  {x: Date.UTC(1970,  10,18), y: 5, key: 'DEMO-102'},
                  {x: Date.UTC(1971,  0, 18), y: 8, key: 'DEMO-103'},
                  {x: Date.UTC(1971,  3, 18), y: 5, key: 'DEMO-104'},
                  {x: Date.UTC(1971,  5, 18), y: 6, key: 'DEMO-105'}
              ]
          }, {
              name: 'WIP',
              yAxis: 1,
              color: '#66F',
              // Define the data points. All series have a dummy year
              // of 1970/71 in order to be compared on the same x axis. Note
              // that in JavaScript, months start at 0 for January, 1 for February etc.
              data: [
                {x: Date.UTC(1970,  9, 18), y: 1, key: 'DEMO-201'},
                {x: Date.UTC(1970,  10,18), y: 2, key: 'DEMO-202'},
                {x: Date.UTC(1971,  0, 18), y: 1.3, key: 'DEMO-203'},
                {x: Date.UTC(1971,  3, 18), y: 2, key: 'DEMO-204'},
                {x: Date.UTC(1971,  5, 18), y: 1, key: 'DEMO-205'}
              ]
          }]
      });
  });
  </script>
  
  <div id="container" style="width:100%; height:400px;"></div>
  
  <table>
    <% @wip_histories.each do |history| %>
      <tr>
        <td><%= history.date %></td>
        <td><%= history.wip %></td>
      </tr>
    <% end %>
  </table>
</div>
