<h1>Reports</h1>

<p><%= link_to('Issues By Epic', controller: :issues, action: :index) %>
<p><%= link_to('Epics By Size', controller: :reports, action: :epics_by_size) %>
<p><%= link_to('Epic Cycle Times', controller: :reports, action: :epic_cycle_times) %>

<h1>Sync Data</h1>

<p><%= link_to('Sync', controller: :sync, action: :index) %>
