<h1>Reports</h1>

<p><%= link_to('Issues By Epic', controller: :issues, action: :index) %>
<p><%= link_to('Cycle Time', controller: :reports, action: :cycle_time) %>

<h1>Sync Data</h1>

<p><%= link_to('Sync', controller: :sync, action: :index) %>
