<div class="content-full">
  <h1>Epic Cycle Times</h1>
  
  <script>
  $(function () {
    
    function formatIssueLink(issue) {
      return '<b><a href="/issues/'
                      + issue.id
                      + '">'
                      + issue.key
                      + ' '
                      + issue.summary
                      + '</a></b>';
    }
    
    Q.all([$.get('api/wip.json'), $.get('api/cycle_time.json')]).spread(function(historiesByDate, epics) {
      $('#container').highcharts({
          chart: {
              type: 'spline'
          },
          title: {
              text: 'Epic Cycle Time'
          },
          subtitle: {
              text: 'Historical Cycle Time and WIP values'
          },
          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: { // don't display the dummy year
                  month: '%e. %b',
                  year: '%b'
              },
              title: {
                  text: 'Date'
              }
          },
          yAxis: [{
            title: {
                text: 'Cycle Time'
            },
            min: 0
          }, {
              title: {
                  text: 'WIP'
              },
              opposite: true,
              min: 0
          }],
          plotOptions: {
              spline: {
                  marker: {
                      enabled: true
                  }
              }
          },
          tooltip: {
              useHTML: true,
              formatter: function () {
                  var html = "";
                  if (this.series.name == 'Cycle Time') { 
                    html += formatIssueLink(this.point)
                      + '<br />CT: '
                      + this.y.toFixed(1)
                      + ' days';
                  } else {
                    html += '<b>WIP: ' + this.y;
                    _(this.point.histories).each(function(history) {
                      html += '<br/>' + formatIssueLink(history);
                    }).value();
                  }
                  return html;
              }
          },


          series: [{
              name: 'Cycle Time',
              yAxis: 0,
              color: '#F66',
              data: _(epics).map(function(epic) {
                return {
                  x: Date.parse(epic.completed),
                  y: epic.cycle_time,
                  key: epic.key,
                  summary: epic.summary,
                  id: epic.id
                };
              }).value()
          }, {
              name: 'WIP',
              yAxis: 1,
              color: '#66F',
              marker: {
                enabled: false
              },
              // Define the data points. All series have a dummy year
              // of 1970/71 in order to be compared on the same x axis. Note
              // that in JavaScript, months start at 0 for January, 1 for February etc.
              data: _(historiesByDate).map(function(histories, date) {
                return {
                  x: Date.parse(date),
                  y: histories.length,
                  histories: histories
                };
              }).value()
          }]
      });      
    });
  });
  </script>
  
  <div id="container" style="width: 100%; height: 600px;"></div>

</div>
